{% extends 'FeikkiSiteBundle::layout.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('bundles/whatsupquery/css/whatsup.css') }}" type="text/css" media="all">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}Whats Up? - {{ pagetitle }}{% endblock %}
{% block page_header %}
    <div class="row-fluid">
        <div class="span12">
            <h1 class="offset2">Whats Up? - {{ pagetitle }}</h1>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="content span8 offset2">
            <div class="row">
                <p>
                    "Whats Up" can be used to search if given name is 
                    available on Twitter, Facebook and web domains. 
                    Unfortunetly we cannot quarentee the answers 
                    provided. It is for informational purposes only.
                </p>
                <form>
                    <div id="name-group" class="control-group">
                        <input 
                            id="name-field" 
                            name="name" 
                            value="{{ prefilled }}"
                            placeholder="Type something…"
                            type="text" 
                            class="search-query"
                            maxlength="24"
                            required="required"
                            autofocus="autofocus"
                        />
                        <button id="search-btn" class="btn btn-primary">Whats up?</button>
                        <br />
                        <span id="name-field-help" class="help-inline"></span>
                    </div>
                </form>
            </div>
            <div id="result-container" class="row">
                <div class="span6">
                    <h3>Social media</h3>
                    <ul id="some-list">
                    </ul>
                </div>
                <div class="span6">
                    <h3>Domains</h3>
                    <ul id="domain-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bodyscripts %}
    <script src="{{ asset('bundles/whatsupquery/js/whatsup.js') }}"></script>
{% endblock %}