<!DOCTYPE html>
{% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="{% block robots %}noindex,nofollow{% endblock %}" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/feikkisite/bootstrap/css/bootstrap.css') }}" type="text/css" media="all">
        <link rel="stylesheet" href="{{ asset('bundles/feikkisite/bootstrap/css/bootstrap-responsive.css') }}" type="text/css" media="all">
        <link rel="stylesheet" href="{{ asset('bundles/feikkisite/css/normalize.css') }}" type="text/css" media="all">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <script src="{{ asset('bundles/feikkisite/js/jquery-2.0.3.min.js') }}"></script>
        <script src="{{ asset('bundles/feikkisite/bootstrap/js/bootstrap.min.js') }}"></script>
        {% block bodyscripts '' %}
    </body>
</html>
